<div *ngIf="attack">
    <span>Turno del nemico <i>DIFESA - usi i bonus armatura</i></span>
    <div class="card">
        <div class="turn-indicator"><img src="assets/worldmap/enemy-turn.png" /></div>
        <div class="title"><h3>{{ attack.name }}</h3></div>
        <div class="content">
            <div class="text"><p [innerHTML]="attack.effect"></p></div>
            <div class="buttons">
                <div class="categories">
                    <span><i>{{ attack.category }}</i></span>
                </div>
                <div>
                    <button id="success" (click)="success()" [disabled]="buttonDisabled">Successo</button>
                </div>
                <div>
                    <button id="fail" (click)="failure()" [disabled]="buttonDisabled">Fallimento</button>
                </div>
            </div>
        </div>
    </div>
</div>