<div class="point-descr">
    <app-location-home *ngIf="pointID === 'home'" [isCompleted]="pointCompleted"></app-location-home>
    <app-location-darkwood *ngIf="pointID === 'darkwood'" [isCompleted]="pointCompleted"></app-location-darkwood>
    <app-location-iceland *ngIf="pointID === 'iceland'" [isCompleted]="pointCompleted"></app-location-iceland>
    <app-location-frozenmountains *ngIf="pointID === 'frozenmountains'" [isCompleted]="pointCompleted"></app-location-frozenmountains>
    <app-location-flamevolcano *ngIf="pointID === 'flamevolcano'" [isCompleted]="pointCompleted"></app-location-flamevolcano>
    <app-location-crimsoncave *ngIf="pointID === 'crimsoncave'" [isCompleted]="pointCompleted"></app-location-crimsoncave>
    <app-location-hottendesert *ngIf="pointID === 'hottendesert'" [isCompleted]="pointCompleted"></app-location-hottendesert>

    <div *ngIf="pointID === ''" class="spacer"></div>
</div>