<div class="container">
    <img src="assets/frozenmountains/boss-fail-frozenmountains.jpg" class="head-img"/>
    <div class="disclaimer">
        <p>
           La battaglia con lo Yeti e' stata troppo dura per te, il gigante ha una forza incredibile e
           ti costringe con ferite profonde a fuggire e tornare ai piedi della montagna.<br/>
           Nel clima piu' caldo e con calma ti riesci a curare e riprendere completamente, ancora piu' carica
           ti appresti ad iniziare una nuova avventura.
        </p>
        <p>
            Questa volta non e' andata bene, ma potrai riprovare quando sarai pronta.
        </p>
    </div>
    <div class="button">
        <button (click)="backToMap()"><h3>Esci dall'avventura</h3></button>
    </div>

</div>