<div class="container">
    <div class="head-msg">
        <h2>Disfatta, in fuga</h2>
    </div>
    <div class="image">
        <img class="player-img" src="assets/worldmap/defeated-player-img.png" />
        <img class="background-img" src="assets/frozenmountains/fail-image-frozenmountains.jpg" />
    </div>
    <div class="disclaimer">
        <p>
            Le minacce sono state troppo difficili per la piccola avventuriera, con qualche ammaccatura riesci a lasciare
            il luogo innevato e pericoloso, tornata ai piedi della montagna ti riesci a rimettere in sesto.<br/>
            Riapri la tua mappa e painifichi la tua prossima mossa.
        </p>
    </div>
    <div class="button">
        <button (click)="backToMap()"><h3>Esci dall'avventura</h3></button>
    </div>

</div>