<div class="container">

    <mat-dialog-actions>
        <button class="mat-raised-button"(click)="close()">X</button>
    </mat-dialog-actions>

    <div id="slide-1" class="slide" *ngIf="currentSlide === 1">
        <div class="col-left">
            <p>
                <app-dynamiccontents [key]="'world.map.introstory.slide1'"></app-dynamiccontents>
            </p>
        </div>
        <div class="col-right">
            <img src="assets/worldmap/start-slide-1.jpg" />
            
        </div>

    </div>

    <div id="slide-2" class="slide" *ngIf="currentSlide === 2">
        <div class="col-left">
            <p>
                <app-dynamiccontents [key]="'world.map.introstory.slide2'"></app-dynamiccontents>
            </p>
        </div>
        <div class="col-right">
            <img src="assets/worldmap/start-slide-2.jpg" />
            
        </div>

    </div>

    <div id="slide-3" class="slide" *ngIf="currentSlide === 3">
        <div class="col-left">
            <p>
                <app-dynamiccontents [key]="'world.map.introstory.slide3'"></app-dynamiccontents>
            </p>
        </div>
        <div class="col-right">
            <img src="assets/worldmap/start-slide-3.jpg" />
            
        </div>

    </div>

    <div id="slide-4" class="slide" *ngIf="currentSlide === 4">
        <div class="col-left">
            <p>
                <app-dynamiccontents [key]="'world.map.introstory.slide4'"></app-dynamiccontents>
            </p>
        </div>
        <div class="col-right">
            <img src="assets/worldmap/start-slide-4.jpg" />
            
        </div>

    </div>

    <div id="slide-5" class="slide" *ngIf="currentSlide === 5">
        <div class="col-left">
            <p>
                <app-dynamiccontents [key]="'world.map.introstory.slide5'"></app-dynamiccontents>
            </p>
        </div>
        <div class="col-right">
            <img src="assets/worldmap/start-slide-5.jpg" />
            
        </div>

    </div>





    <div id="go-prev" (click)="prev()">
        &lt;
    </div>
    <div id="go-next" (click)="next()">
        &gt;
    </div>
</div>