<div class="container">

    <div class="new-stars">
        <h4 class="new-stars-txt"><app-dynamiccontents [key]="'world.map.story.button.text'"></app-dynamiccontents></h4>
        <img class="new-stars-img" src="assets/worldmap/new-stars.png" (click)="openDialog()"/>
    </div>


    <div class="title">
        <h1>&lt;<app-dynamiccontents [key]="'world.map.title'"></app-dynamiccontents>&gt;</h1>
    </div>
    
    <div class="map-section">
        <div class="point-of-actions" id="map-points">
            <a id="point-home" [class.active-point]="activePointId === 'home'">
                <img src="assets/worldmap/home-map.png" name="Celestian" (click)="selectPoint($event)" id="home"/>
            </a>
            <a id="point-darkwood" 
                    [class.active-point]="activePointId === 'darkwood'"
                    [ngStyle]="{'border-color':locationDoneList.darkwood ? 'lime' : 'white' }">
                <img src="assets/worldmap/darkwood-map.png" name="Foresta Oscura" (click)="selectPoint($event)" id="darkwood"/>
            </a>
            <a id="point-iceland" 
                    [class.active-point]="activePointId === 'iceland'"
                    [ngStyle]="{'border-color':locationDoneList.iceland ? 'lime' : 'white' }">
                <img src="assets/worldmap/iceland-map.png" name="Le lande ghiacciate" (click)="selectPoint($event)" id="iceland"/>
            </a>
            <a id="point-frozenmountains" 
                    [class.active-point]="activePointId === 'frozenmountains'"
                    [ngStyle]="{'border-color':locationDoneList.frozenmountains ? 'lime' : 'white' }">
                <img src="assets/worldmap/frozenmountains-map.png" name="Montagne Gelide" (click)="selectPoint($event)" id="frozenmountains"/>
            </a>
            <a id="point-flamevolcano" 
                    [class.active-point]="activePointId === 'flamevolcano'"
                    [ngStyle]="{'border-color':locationDoneList.flamevolcano ? 'lime' : 'white' }">
                <img src="assets/worldmap/flamevolcano-map.png" name="Vulcano Fiammante" (click)="selectPoint($event)" id="flamevolcano"/>
            </a>
            <a id="point-crimsoncave" 
                    [class.active-point]="activePointId === 'crimsoncave'"
                    [ngStyle]="{'border-color':locationDoneList.crimsoncave ? 'lime' : 'white' }">
                <img src="assets/worldmap/crimsoncave-map.png" name="Caverna Cremisi" (click)="selectPoint($event)" id="crimsoncave"/>
            </a>
            <a id="point-hottendesert" 
                    [class.active-point]="activePointId === 'hottendesert'"
                    [ngStyle]="{'border-color':locationDoneList.hottendesert ? 'lime' : 'white' }">
                <img src="assets/worldmap/hottendesert-map.png" name="Deserto Cocente" (click)="selectPoint($event)" id="hottendesert"/>
            </a>
        </div>
        <img src="assets/worldmap/map.jpg" name="world-map" />
    </div>

    <div class="menu-section">
        <div>
            <app-point-description [pointID]="activePointId" [pointCompleted]="activePointCompleted"></app-point-description>
        </div>
    </div>

</div>