<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">X</button>
</mat-dialog-actions>

<h2><app-dynamiccontents [key]="'world.map.infoguide.title'"></app-dynamiccontents></h2>

<p>
    <app-dynamiccontents [key]="'world.map.infoguide.message1'"></app-dynamiccontents>
</p>
<p>
    <app-dynamiccontents [key]="'world.map.infoguide.message2'"></app-dynamiccontents>
</p>
<p>
    <app-dynamiccontents [key]="'world.map.infoguide.message3'"></app-dynamiccontents>
</p>

<p>
    <app-dynamiccontents [key]="'world.map.infoguide.message4'"></app-dynamiccontents>
</p>