<div class="container">
    <img src="assets/darkwood/boss-fail-darkwood.jpg" class="head-img"/>
    <div class="disclaimer">
        <p>
            Il gigante ti scaraventa lontano con l'ultimo colpo, tanto da farti perdere i sensi per pochi secondi.
            Appena ti riprendi, raccogli le tue cose e le forze per scappare. Mentre fuggi senti le risate del gigante
            eccheggiare per tutta la foresta.
        </p>
        <p>
            Questa volta non e' andata bene, ma potrai riprovare quando sarai pronta.
        </p>
    </div>
    <div class="button">
        <button (click)="backToMap()"><h3>Esci dall'avventura</h3></button>
    </div>

</div>