<div class="card-container">
    <div *ngIf="item">
        <div class="title">
            <h3>{{ item.name }}</h3>
        </div>
        <div class="image">
            <img [src]="'assets/items/'+item.id+'.png'"/>
        </div>
        <div class="effect" >
            <p [innerHTML]="item.effect"></p>
        </div>

        <div class="trade" *ngIf="merchant==='N'">
            <div class="gold">
                <label>Vendi a:&nbsp;</label>
                <label id="gold-sell-val">{{ goldSell }}</label>
                <img src="assets/worldmap/gold.png">
            </div>
            <button (click)="sell()"><span>Vendi</span></button>
        </div>
        <div class="trade" *ngIf="merchant==='Y'">
            <div class="gold">
                <label>Compra a:&nbsp;</label>
                <label id="gold-val">{{ goldBuy }}</label>
                <img src="assets/worldmap/gold.png">
            </div>
            <button (click)="buy()" [disabled]="playerGold < goldBuy"><span>Compra</span></button>
        </div>
    </div>
    <div *ngIf="!item" class="empty">
        <p>Slot Vuoto</p>
    </div>

</div>