<div *ngIf="event" class="container">
    
    <div class="welcome-message">
        <div class="img-message">
            <img [src]="'assets/iceland/events/'+event.eventID+'.jpg'" [name]="event.eventID"/>
        </div>
        <div *ngIf="!eventResult" class="textual-message">
            <p [innerHTML]="event.eventMessage"></p>
            <div class="player-rolls">
                <div>
                    <div class="label-div"><label for="rolld12">Tira un D12</label></div>
                    <input type="number" name="D12" id="rolld12" #rolld12/>
                </div>
                <div>
                    <div class="label-div"><label for="rolld100">Tira un D100</label></div>
                    <input type="number" name="D100" id="rolld100" #rolld100/>
                </div>
            </div>
            <div class="choice-buttons">
                <div *ngFor="let option of event.playerChoices; let i = index">
                    <button (click)="sendChoice(i+1, rolld12.value, rolld100.value)"><label [innerHTML]="option"></label></button>
                </div>
            </div>
        </div>
        
        <div *ngIf="eventResult" class="textual-message">
            <p [innerHTML]="eventResult"></p>
            <button style="padding: 10px" (click)="nextStepAction()" [disabled]="disableButton">
                <span>Vai avanti</span>
            </button>
        </div>
    </div>
    
</div>
