<div class="container">
    <img src="assets/iceland/boss-fail-iceland.jpg" class="head-img"/>
    <div class="disclaimer">
        <p>
            All'improvviso il serpente soffia piu' forte e genera una tormenta di neve, e' impossibile vedere a piu' di un metro
            di distanza. Ferita sei costretta a lasciare l'isola e a ritirarti in un posto sicuro per curarti e riscaldarti.
        </p>
        <p>
            Questa volta non e' andata bene, ma potrai riprovare quando sarai pronta.
        </p>
    </div>
    <div class="button">
        <button (click)="backToMap()"><h3>Esci dall'avventura</h3></button>
    </div>

</div>