<div class="container">
    <img src="assets/iceland/boss-fail-iceland.jpg" class="head-img"/>
    <div class="disclaimer">
        <p>
            <app-dynamiccontents [key]="'location.iceland.popup.bossfailure.description'"></app-dynamiccontents>
        </p>
        <p>
            <app-dynamiccontents [key]="'location.popup.failure.courtesymessage'"></app-dynamiccontents>
            
        </p>
    </div>
    <div class="button">
        <button (click)="backToMap()"><h3>
            <app-dynamiccontents [key]="'location.popup.quit'"></app-dynamiccontents>
        </h3></button>
    </div>

</div>