<div class="container">
    <div class="head-msg">
        <h2>Disfatta, in fuga</h2>
    </div>
    <div class="image">
    	<div>
        	<img class="player-img" src="assets/worldmap/defeated-player-img.png" />
        </div>
        <div>
        	<img class="background-img" src="assets/hottendesert/fail-image-hottendesert.jpg" />
    	</div>
    </div>
    <div class="disclaimer">
        <p>
            Assetata e stanca, decidi di rinunciare all'avventura nel deserto, torni indietro e ti riposi
            al fiume dove eri partita. Curi le ferite e pensi alla prossima azione da fare.
        </p>
    </div>
    <div class="button">
        <button (click)="backToMap()"><h3>Esci dall'avventura</h3></button>
    </div>

</div>