<div class="container">
    <div class="head-msg">
        <h2>Disfatta, in fuga</h2>
    </div>
    <div class="image">
        <img class="player-img" src="assets/worldmap/defeated-player-img.png" />
        <img class="background-img" src="assets/crimsoncave/fail-image-crimsoncave.jpg" />
    </div>
    <div class="disclaimer">
        <p>
            Il buio ti circonda, perdi la strada e sei costretta a seguire la luce fioca in lontananza dell'uscita
            della caverna, una volta fuori riesci a riprendere fiato e rimetterti in sesto.<br/>
            Riapri la mappa e pensi al prossimo passo.
        </p>
    </div>
    <div class="button">
        <button (click)="backToMap()"><h3>Esci dall'avventura</h3></button>
    </div>

</div>