<div class="container">
    <img src="assets/crimsoncave/boss-fail-crimsoncave.jpg" class="head-img"/>
    <div class="disclaimer">
        <p>
            Il potere del maestro vampiro e' troppo grande e non riesci a contrastarlo.<br/>
            Ferita vieni avvolta da un ondata di pipistrelli che ti spingono fuori dalla stanza, in fretta corri
            verso l'uscita e una volta fuori riesci a trovare un po' di calma per riprenderti.<br/>
            Intanto un'oscura risata rimbomba nella caverna.
        </p>
        <p>
            Questa volta non e' andata bene, ma potrai riprovare quando sarai pronta.
        </p>
    </div>
    <div class="button">
        <button (click)="backToMap()"><h3>Esci dall'avventura</h3></button>
    </div>

</div>