<div class="container">
    <img src="assets/hottendesert/boss-fail-hottendesert.jpg" class="head-img"/>
    <div class="disclaimer">
        <p>
            L'enorme verme di sabbia ti mangia in un solo boccone, ti da due scossoni e poi ti sputa 
            con forza lontano. Atterri e rotoli un po' nella sabbia, quando ti fermi noti che sei all'inizio
            del deserto. Ti pulisci la sabbia da dosso e prendi la mappa per organizzare il prossimo passo.
        </p>
        <p>
            Questa volta non e' andata bene, ma potrai riprovare quando sarai pronta.
        </p>
    </div>
    <div class="button">
        <button (click)="backToMap()"><h3>Esci dall'avventura</h3></button>
    </div>

</div>