<div class="container" *ngIf="boss">
    <div>
        <div class="title">
            <h2>{{ boss.name }}</h2>
        </div>
        <div class="boss-presentation">
            <div>
                <img src='{{ "assets/boss/" + boss.id + "b.png" }}'/>
            </div>
            <div class="description">
                <p [innerHTML]="boss.description"></p>
            </div>
        </div>
        <app-boss-action (bossIsOver)="bossIsOverFnc($event)"></app-boss-action>
    </div>

    


</div>