<div class="intro-img">
    <div class="close-btn" (click)="backToMap()">
        <img src="assets/worldmap/exit-icon.png" />
        <h4><app-dynamiccontents [key]="'world.quit.button.text'"></app-dynamiccontents></h4>
    </div>
    <div class="info-battle-btn" (click)="openDialog()">
        <h4 class="info-battle-txt"><app-dynamiccontents [key]="'world.map.battleinfo.button.text'"></app-dynamiccontents></h4>
        <img src="assets/worldmap/info-battle-icon.png" />
    </div>

    <h1>&lt;<app-dynamiccontents [key]="'world.map.location.crimsoncave.name'"></app-dynamiccontents>&gt;</h1>
</div>
<div class="disclaimer">
    <p></p>
</div>

<div class="equipment">
    <h2><app-dynamiccontents [key]="'world.map.equip.title'"></app-dynamiccontents></h2>
    <div class="equipment-inner">
        <div><app-item-card [item]="playerWeapon" [equipable]="'N'"></app-item-card></div>
        <div><app-item-card [item]="playerArmor" [equipable]="'N'"></app-item-card></div>
        <div><app-item-card [item]="playerTalisman" [equipable]="'N'"></app-item-card></div>
    </div>
</div>

<div class="path" [style]="'background-image: url(assets/crimsoncave/bg/img' + backgroundImgID + '-crimsoncave.jpg);'">

    <h2><app-dynamiccontents [key]="'adventure.location.player.path'"></app-dynamiccontents></h2>

    <div class="player-path" >
        <div class="point" id="fight1" [class]="stepPath.number === 1 ? 'active' : ''">
            <app-dynamiccontents [key]="'adventure.location.path.step1'"></app-dynamiccontents>
        </div>
        <div class="line"></div>
        <div class="point" id="event1" [class]="stepPath.number === 2 ? 'active' : ''">
            <app-dynamiccontents [key]="'adventure.location.path.step2'"></app-dynamiccontents>
        </div>
        <div class="line"></div>
        <div class="point" id="fight1" [class]="stepPath.number === 3 ? 'active' : ''">
            <app-dynamiccontents [key]="'adventure.location.path.step3'"></app-dynamiccontents>
        </div>
        <div class="line"></div>
        <div class="point" id="event1" [class]="stepPath.number === 4 ? 'active' : ''">
            <app-dynamiccontents [key]="'adventure.location.path.step4'"></app-dynamiccontents>
        </div>
        <div class="line"></div>
        <div class="point" id="boss" [class]="stepPath.number === 5 ? 'active' : ''">
            <app-dynamiccontents [key]="'adventure.location.path.step5'"></app-dynamiccontents>
        </div>
    </div>

</div>

<div class="active-effect">
    <h4><app-dynamiccontents [key]="'adventure.location.active.effects'"></app-dynamiccontents></h4>
    <div *ngIf="activeEffect">
        <u><span [innerHTML]="activeEffect"></span></u>
    </div>
    <div *ngIf="!activeEffect">
        <span><app-dynamiccontents [key]="'adventure.location.effects.noeffects'"></app-dynamiccontents></span>
    </div>
</div>

<div class="adventure">
    <div *ngIf="stepPath.type === 'ENEMY'">
        <app-crimsoncave-scenario-enemy (endScenario)="endScenario($event)" [monsterLvl]="currentMonsterLvl"></app-crimsoncave-scenario-enemy>
    </div>
    <div *ngIf="stepPath.type === 'EVENT'">
        <app-crimsoncave-scenario-event (endScenario)="endScenario($event)"></app-crimsoncave-scenario-event>
    </div>
    <div *ngIf="stepPath.type === 'BOSS'">
        <app-crimsoncave-scenario-boss></app-crimsoncave-scenario-boss>
    </div>


</div>