<div class="container">
    <div class="head">

    </div>

    <div class="body">
        <div class="left-col">
            <p>
                Freddo e perennemente coperto da nebbia e nuvole, il luogo delle Montagne Gelide e' stato da sempre poco
                esplorato per via delle condizione avverse della zona.<br/>
                Il clima cambia con rapidita' e le bufere di neve o la nebbia possono essere estremamente pericolose anche 
                per esploratori esperti.
            </p>
        </div>
        <div class="right-col">
            
            <div class="compl-container" *ngIf="isCompleted">
                <img class="completation-ribbon" />
                <span>Hai completato questa avventura, complimenti!</span>
            </div>
            
            <p>Inizia l'avventura:</p>
            <button (click)="moveTo('frozenmountains')">Montagne Gelide</button>
        </div>
    </div>

</div>