<div class="container">
    <div class="head">

    </div>

    <div class="body">
        <div class="left-col">
            <p>
                Cosa c'e' di piu' pauroso di una grotta buia e fredda? Beh una grotta buia, fredda e con pareti
                insanguinate. Esistono diverse storie su questo posto, c'e' chi dice che siano solo alghe rosse formate
                con l'umidita', altri pensano sia il colore naturale della roccia, alcuni pero' dicono che sia 
                opera di antichi e pericolosi vampiri. Ma tu non ci credi a queste cose, giusto?
            </p>
        </div>
        <div class="right-col">
            
            <div class="compl-container" *ngIf="isCompleted">
                <img class="completation-ribbon" />
                <span>Hai completato questa avventura, complimenti!</span>
            </div>
            
            <p>Inizia l'avventura:</p>
            <button (click)="moveTo('crimsoncave')">Caverna Cremisi</button>
        </div>
    </div>

</div>