<div class="container">
    <div class="head">

    </div>

    <div class="body">
        <div class="left-col">
            <p>
                <app-dynamiccontents [key]="'world.map.location.iceland.description'"></app-dynamiccontents>
            </p>
        </div>
        <div class="right-col">
            
            <div class="compl-container" *ngIf="isCompleted">
                <img class="completation-ribbon" />
                <app-dynamiccontents [key]="'world.map.location.completated'"></app-dynamiccontents>
            </div>
            
            <p>Inizia l'avventura:</p>
            <button (click)="moveTo('iceland')">
                <app-dynamiccontents [key]="'world.map.location.iceland.name'"></app-dynamiccontents>
            </button>
        </div>
    </div>

</div>