<div class="container">
    <div class="head">

    </div>

    <div class="body">
        <div class="left-col">
            <p>
                Freddo da far ripensare un orso polare di essere uscito dalla tana, l'isolotto di Iceland contiene alberi
                resistenti a queste temperature dal legno incredibilemnte duro, una grande grotta ed immense avventure.<br/>
                Il sentiero non e' visibile a causa della neve che continua a mutare il terreno, puoi solo affidarti sulla
                bussola e sulle stelle. Il punto indicato e' proprio la grande grotta all'estremita' settentrionale dell'isola.
            </p>
        </div>
        <div class="right-col">
            
            <div class="compl-container" *ngIf="isCompleted">
                <img class="completation-ribbon" />
                <span>Hai completato questa avventura, complimenti!</span>
            </div>
            
            <p>Inizia l'avventura:</p>
            <button (click)="moveTo('iceland')">Le lande ghiacciate</button>
        </div>
    </div>

</div>