
<div *ngIf="event" class="container">
    
    <div class="welcome-message">
        <div *ngIf="!eventResultMessage" class="event-start">
            <div class="img-message">
                <img [src]="'assets/frozenmountains/events/'+event.eventID+'.jpg'" [name]="event.eventID"/>
            </div>
            <div class="textual-message">
                <p [innerHTML]="event.eventMessage"></p>
                <div class="player-rolls">
                    <div>
                        <div class="label-div"><label for="rolld12">
                            <app-dynamiccontents [key]="'adventure.event.roll12'"></app-dynamiccontents>
                        </label></div>
                        <input type="number" name="D12" id="rolld12" #rolld12/>
                    </div>
                    <div>
                        <div class="label-div"><label for="rolld100">
                            <app-dynamiccontents [key]="'adventure.event.roll100'"></app-dynamiccontents>
                        </label></div>
                        <input type="number" name="D100" id="rolld100" #rolld100/>
                    </div>
                </div>
                <div class="choice-buttons">
                    <div *ngFor="let option of event.playerChoices; let i = index">
                        <button (click)="sendChoice(i+1, rolld12.value, rolld100.value)"><label [innerHTML]="option"></label></button>
                    </div>
                </div>
            </div>
        </div>
        
        <div *ngIf="eventResultMessage" class="event-result">
            <app-event-resolution (endScenario)="endScenarioFnc($event)" 
                    [location]="this.location"
                    [eventResultMessage]="eventResultMessage"
                    [eventResultImage]="eventResultImage">
            </app-event-resolution>
        </div>
    </div>
    
</div>
