<div class="container">
    <div class="head-msg">
        <h2>Disfatta, in fuga</h2>
    </div>
    <div class="image">
        <img class="player-img" src="assets/worldmap/defeated-player-img.png" />
        <img class="background-img" src="assets/flamevolcano/fail-image-flamevolcano.jpg" />
    </div>
    <div class="disclaimer">
        <p>
            Le minacce sono scottano qui. Ti senti sciogliere con tutte le ferite che hai, ti ritiri e curi scappando da 
            quel posto.
        </p>
    </div>
    <div class="button">
        <button (click)="backToMap()"><h3>Esci dall'avventura</h3></button>
    </div>

</div>