<div *ngIf="reward" class="container">
    <img src="assets/iceland/boss-win-iceland.jpg" class="head-img"/>
    <p>
        Il serpentone ora e' a terra, come se si fosse sciolto al tuo incredibile calore. Lentamente striscia in 
        un angolo della grotta e lascia la stanza libera di essere esplorata, al suo interno trovi un antico barile, 
        probabilmente lasciato qui da qualche sventurato marinaio. Lo apri e all'interno trovi:
    </p>
    <div class="gold-msg">
        <p>
            <img src="assets/worldmap/gold.png">
            Oro: {{ reward.gold }}
        </p>
    </div>
    <div class="item-msg">
        <app-item-card [item]="reward.item" [equipable]="'N'"></app-item-card>
    </div>


    <div class="button">
        <button (click)="backToMap()"><h3>Esci dall'avventura</h3></button>
    </div>
</div>