<div *ngIf="defense">
    <p class="effect-title"><app-dynamiccontents [key]="'adventure.location.battle.enemy.defence.effecttitle'"></app-dynamiccontents></p>
    <div class="card">
        <div class="turn-indicator"><img src="assets/worldmap/player-turn.png" /></div>
        <div class="title"><h3>{{ defense.name }}</h3></div>
        <div class="content">
            <div class="text"><p [innerHTML]="defense.effect"></p></div>
            <div class="buttons">
                <div class="categories">
                    <span><i>{{ defense.category }}</i></span>
                </div>
                <div>
                    <button id="success" (click)="success()"  [disabled]="buttonDisabled">
                        <app-dynamiccontents [key]="'adventure.location.battle.success.button.text'"></app-dynamiccontents>
                    </button>
                </div>
                <div>
                    <button id="fail" (click)="failure()" [disabled]="buttonDisabled">
                        <app-dynamiccontents [key]="'adventure.location.battle.failure.button.text'"></app-dynamiccontents>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>