<div class="close-btn" (click)="backToMap()">
    <img src="assets/worldmap/exit-icon.png" />
    <h4><app-dynamiccontents [key]="'world.quit.button.text'"></app-dynamiccontents></h4>
</div>
<div class="intro-img">
    <h1>&lt;<app-dynamiccontents [key]="'celestian.shop.title.text'"></app-dynamiccontents>&gt;</h1>
</div>
<div class="disclaimer">
    <p><app-dynamiccontents [key]="'celestian.shop.subtitle.text'"></app-dynamiccontents></p>
</div>

<div class="gold">
    <span><app-dynamiccontents [key]="'celestian.gold.owned'"></app-dynamiccontents>
    </span><span id="gold-num">{{ gold }}</span><img src="assets/worldmap/gold.png">
</div>

<div class="merchant">
    <h2><app-dynamiccontents [key]="'celestian.shop.purchase.title'"></app-dynamiccontents></h2>
    <div>
        <div class="merchant-inner">
            <app-item-card-shop *ngFor="let item of merchantItems" 
                    [item]="item" 
                    [merchant]="'Y'" 
                    [gold]="gold"
                    (itemEmitter)="itemBought($event)">
            </app-item-card-shop>
        </div>
    </div>
</div>

<div class="inventory">
    <h2><app-dynamiccontents [key]="'celestian.shop.sell.title'"></app-dynamiccontents></h2><br />
    <div>
        <div class="inventory-inner" *ngIf="playerInventory && playerInventory.length > 0">
            <app-item-card-shop *ngFor="let item of playerInventory" 
                    [item]="item" 
                    [merchant]="'N'" 
                    [gold]="gold"
                    (itemEmitter)="itemSold($event)">
            </app-item-card-shop>
        </div>
        <div class="inventory-inner" *ngIf="!playerInventory || playerInventory.length === 0">
            <p><i><app-dynamiccontents [key]="'celestian.home.inventory.empty'"></app-dynamiccontents></i></p>
        </div>
    </div>
</div>