<div class="container">
    <img src="assets/flamevolcano/boss-fail-flamevolcano.jpg" class="head-img"/>
    <div class="disclaimer">
        <p>
           La temperatura sale, senti mancare l'aria. Il gigantesco Balor inizia a ridere mentre dai suoi occhi si
           nota uno strano luccichio, come se avesse delle fiamme vive all'interno.<br/>
           Non riesci piu' a sopportare le ferite e il caldo, quindi decidi di ritirarti da questo posto alla svelta.
        </p>
        <p>
            Questa volta non e' andata bene, ma potrai riprovare quando sarai pronta.
        </p>
    </div>
    <div class="button">
        <button (click)="backToMap()"><h3>Esci dall'avventura</h3></button>
    </div>

</div>