<div class="container">
    <div class="head-msg">
        <h2><app-dynamiccontents [key]="'location.popup.failure.title'"></app-dynamiccontents></h2>
    </div>
    <div class="image">
    	<div>
        	<img class="player-img" src="assets/worldmap/defeated-player-img.png" />
        </div>
        <div>
        	<img class="background-img" src="assets/darkwood/fail-image-darkwood.jpg" />
       	</div>
    </div>
    <div class="disclaimer">
        <p>
            <app-dynamiccontents [key]="'location.darkwood.popup.failure.message'"></app-dynamiccontents>
        </p>
    </div>
    <div class="button">
        <button (click)="backToMap()"><h3>
            <app-dynamiccontents [key]="'location.popup.quit'"></app-dynamiccontents>
        </h3></button>
    </div>

</div>