/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: 'ribbon-title';
    src: url('assets/fonts/AncientAd.ttf');
}

@font-face {
    font-family: 'fantasy-title';
    src: url('assets/fonts/KidKnowledge.otf');
}

@font-face {
    font-family: 'fantasy-font';
    src: url('assets/fonts/dumbledor.ttf');
}

@font-face {
    font-family: 'fantasy-alt';
    src: url('assets/fonts/BulgarianBridge.ttf');
}

@font-face {
    font-family: 'fantasy-mail';
    src: url('assets/fonts/SHERWOOD.TTF');
}

@font-face {
    font-family: 'fantasy-consumed';
    src: url('assets/fonts/Shivers.ttf');
}

body, head, footer {
    margin: 0;
    padding: 0;
    background-color: #eee;
}

h1 {
    font-family: 'ribbon-title';
    font-size: 2.5em;
    text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
    font-family: 'fantasy-title';
}

p, label {
    font-family: 'fantasy-font';
    font-size: 1.5em;
    padding: 0 10px;
}

.mail {
    font-family: 'fantasy-mail';
}

.alt {
    font-family: 'fantasy-alt';
}


.point-descr .body {
    display: flex;
    width: 100%;
}
.point-descr .left-col {
    width: 70%;
}
.point-descr .right-col {
    width: 30%;
    display: block;
}

.point-descr button {
    width: 100%;
    height: 90px;
    margin: 5px 0;
    border: none;
    background-image: url(assets/worldmap/button-bg.png);
    background-repeat: no-repeat;
    background-size: cover;

    font-size: 1.5em;
    font-weight: bold;
    font-family: 'fantasy-mail';
    transition-duration: 0.5s;
}

.point-descr button:hover {
    cursor: pointer;
    text-shadow: 1px 1px 4px white;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.intro-img {
    width: 100%;
    height: 600px;
    text-align: center;
    color: rgba(0,0,0,0.5);
    transition-duration: 2s;
}

.intro-img:hover {
    color: rgba(0,0,0,0.95);
}

.intro-img h1 {
    margin: 0;
    padding-top: 100px;
    text-shadow: 0 0 10px rgba(255,255,255,0.9);
    font-size: 3em;
}

.close-btn {
    position: absolute;
    top: 1%;
    left: 1%;
    display: flex;
    cursor: pointer;
    background-color: rgba(255,255,255,0.2);
    border-radius: 20px;
    padding: 5px 15px;
    transition: 0.5s;
}
.info-battle-btn {
    position: absolute;
    top: 1%;
    right: 1%;
    display: flex;
    cursor: pointer;
    border-radius: 20px;
    padding: 5px 15px;
    transition: 0.5s;
}
.close-btn:hover {
    background-color: rgba(255,255,255,0.6);
    font-weight: bold;
}
.info-battle-btn:hover img {
    background-color: rgba(255,255,255,0.6);
    transition-duration: 1s;
}
.info-battle-txt {
    color: rgba(0,0,0,0);
    visibility: hidden;
    transition-duration: 1s;
    transition-property: color;
    margin-right: 5px;
    text-shadow: 0 0 2px white;
}
.info-battle-btn img {
    border-radius: 5px;
}

.info-battle-btn:hover .info-battle-txt {
    color: rgba(0,0,0,1);
    visibility: visible;
}
.close-btn img {
    height: 50px;
    clear: both;
}
.close-btn h4 {
    padding-left: 5px;
}

.completation-ribbon {
    content: url(assets/worldmap/completation-ribbon.png);
    border: none;
    width: 50px;
}
.compl-container {
    position: absolute;
    right: 1%;
}


.compl-container span {
    visibility: hidden;
    position: absolute;
    right: 30%;
    cursor: default;
    width: fit-content;
    background-color: lightgoldenrodyellow;
    padding: 5px;
    border-radius: 5px;
}

.compl-container:hover span {
    visibility: visible;
}
  
