<div *ngIf="reward" class="container">
    <div class="head-msg">
        <h2><app-dynamiccontents [key]="'location.popup.success.title'"></app-dynamiccontents></h2>
        <p><app-dynamiccontents [key]="'location.popup.success.subtitle'"></app-dynamiccontents></p>
    </div>
    <div class="gold-msg">
        <p>
            <img src="assets/worldmap/gold.png">
            <app-dynamiccontents [key]="'location.popup.gold'"></app-dynamiccontents> {{ reward.gold }}
        </p>
    </div>
    <div class="item-msg">
        <app-item-card [item]="reward.item" [equipable]="'N'"></app-item-card>
    </div>
    <div class="button">
        <button (click)="close()">
            <app-dynamiccontents [key]="'location.popup.success.nextstep'"></app-dynamiccontents>
        </button>
    </div>

</div>
<div *ngIf="!reward">
    <p><app-dynamiccontents [key]="'world.generic.error'"></app-dynamiccontents></p>
</div>