<div *ngIf="reward" class="container">
    <img src="assets/hottendesert/boss-win-hottendesert.jpg" class="head-img"/>
    <p>
        <app-dynamiccontents [key]="'location.hottendesert.popup.bosssuccess.description'"></app-dynamiccontents>
    </p>
    <p>
        <app-dynamiccontents [key]="'location.hottendesert.popup.bosssuccess.message'"></app-dynamiccontents>
    </p>
    <div class="gold-msg">
        <p>
            <img src="assets/worldmap/gold.png">
            <app-dynamiccontents [key]="'location.popup.gold'"></app-dynamiccontents> {{ reward.gold }}
        </p>
    </div>
    <div class="item-msg">
        <app-item-card [item]="reward.item" [equipable]="'N'"></app-item-card>
    </div>


    <div class="button">
        <button (click)="backToMap()"><h3>
            <app-dynamiccontents [key]="'location.popup.quit'"></app-dynamiccontents>
        </h3></button>
    </div>
</div>