<div *ngIf="reward" class="container">
    <img src="assets/frozenmountains/boss-win-frozenmountains.jpg" class="head-img"/>
    <p>
        Colpo dopo colpo, la difficile battaglia finisce con uno Yeti ferito e stremato. Sei riuscita a dominare
        il gigante che fugge all'interno di una grotta lasciando un antico e decurato baule un po' coperto dalla neve.<br/>
        Pulisci la neve superficiale e con forza sollevi il coperchio.
    </p>
    <p>
        Le vecchie cerniere scricchiolano e una si rompe per il troppo freddo, all'interno del baule trovi:
    </p>
    <div class="gold-msg">
        <p>
            <img src="assets/worldmap/gold.png">
            Oro: {{ reward.gold }}
        </p>
    </div>
    <div class="item-msg">
        <app-item-card [item]="reward.item" [equipable]="'N'"></app-item-card>
    </div>


    <div class="button">
        <button (click)="backToMap()"><h3>Esci dall'avventura</h3></button>
    </div>
</div>