<div class="container">
    <div class="head">

    </div>

    <div class="body">
        <div class="left-col">
            <p>
                Da sempre evitato, questo luogo e' famoso per essere infestato da spiriti e mostri. Solo i piu'
                coraggiosi si avventurerebbero qui dentro.<br />
                Si dice che piu' ci si addentra piu' la luce diminuisce e gli alberi nascondono il sentiero, come se
                si muovessero.
            </p>
        </div>
        <div class="right-col">
            <p>Inizia l'avventura:</p>
            <button (click)="moveTo('darkwood')">Foresta Oscura</button>
        </div>
    </div>

</div>