<div class="container">
    <div class="head">

    </div>

    <div class="body">
        <div class="left-col">
            <p>
                <app-dynamiccontents [key]="'world.map.location.celestian.description'"></app-dynamiccontents>
            </p>
        </div>
        <div class="right-col">
            
            <p><app-dynamiccontents [key]="'world.map.location.moveto'"></app-dynamiccontents></p>
            <button (click)="moveTo('home')">
                <app-dynamiccontents [key]="'world.map.location.celestian.home'"></app-dynamiccontents>
            </button>
            <button (click)="moveTo('shop')">
                <app-dynamiccontents [key]="'world.map.location.celestian.shop'"></app-dynamiccontents>
            </button>
        </div>
    </div>

</div>